<html>

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/elm-canvas@2.2.4/elm-canvas.js"></script>
    <script src="<%= scriptLocation %>"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>

<body>
    <div id="myapp"></div>
    <div hidden id="id">
        <% if (user && user._id) {%>
            <%= user._id.toString() %>
                <% } %>
    </div>
    <script>
        const userId = document.getElementById('id').innerHTML.replace(/(^\s+|\s+$)/g, '');
        const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        if (userId) {
            var app = Elm.Main.init({
                node: document.getElementById('myapp'),
                flags: { id: userId, xsrf: token }

            });
        } else {

            var app = Elm.Main.init({
                node: document.getElementById('myapp'),
                flags: { id: 'a', xsrf: token }
            });
        }
    </script>
</body>

</html>